
body {
    background-image: url("c5f6a70636d51875b5d1f16011a98292.jpg");
	font-family: Trebuchet MS;
	

}

table {
	
	height: 1600px;
	width: 80%;
	
}

h3 {
	font-size: 50px;
	text-align: center;
	color: #698da9;
	font-family: century gothic;
	
} 